<div id="footer" class="shell">
    <div class="top">
        <div class="cnt">
            <div class="col about">
                <h4>Tru So Chinh</h4>
                <p>-111/1A Thanh Loi An Thanh Thuan An Binh Duong </p>
                <p>- ÄT: (08) 3123 4567 - Fax: (08) 3123 4567</p>
                <p>- Email: nguyenvinhhung123@gmail.com</p>
            </div>


        </div>
    </div>
</div>
